<template name="journal">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox-content" style="max-width: 300px; width: 100%;">
        <div id="weekly-datepicker"></div>
      </div>
      <button class="btn btn-primary btn-raised" type="submit" form="form" id="addWeekPlan" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">Добавить Недельный план</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-7 col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form id="form">
            <table class="table table-hover no-margins">
              <thead>
              <tr>
                <th>ФИО</th>
                <th class="col-xs-1">Выполнение сменных заданий</th>
                <th class="col-xs-1">Выполнение требований ОТ</th>
                <th class="col-xs-1">Соблюдение дисциплины</th>
                <th class="col-xs-1">Соответствие стандартам ББМ</th>
                <th class="col-xs-1">Оценка Soft-skills</th>
              </tr>
              </thead>
              <tbody>
              {{#each students}}
                <tr>
                  <td>{{name}} <a href="#" title="Закончить обучение" data-student="{{_id}}" id="endProfession" class="btn btn-primary btn-raised btn-xs pull-right no-margins"><i class="fa fa-ban fa-lg"></i> </a></td>
                  <td class="col-xs-1">
                    <input name="points[{{_id}}][]" class="form-control" type="number" min="1" max="5" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">
                  </td>
                  <td class="col-xs-1">
                    <input name="points[{{_id}}][]" class="form-control" type="number" min="1" max="5" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">
                  </td>
                  <td class="col-xs-1">
                    <input name="points[{{_id}}][]" class="form-control" type="number" min="1" max="5" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">
                  </td>
                  <td class="col-xs-1">
                    <input name="points[{{_id}}][]" class="form-control" type="number" min="1" max="5" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">
                  </td>
                  <td class="col-xs-1">
                    <input name="points[{{_id}}][]" class="form-control" type="number" min="1" max="5" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>