<template name="journal">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox-content" style="max-width: 300px; width: 100%;">
        <div id="weekly-datepicker"></div>
      </div>
      <button class="btn btn-primary btn-raised" type="submit" form="form" id="addWeekPlan" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">Добавить Недельный план</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-md-7 col-sm-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <form id="form">
            <table class="table table-hover no-margins">
              <thead>
              <tr>
                <th>ФИО</th>
                <th class="col-xs-1">Выполнение сменных заданий
                  <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Средняя оценка из недельного плана"></i>
                </th>
                <th class="col-xs-1">Выполнение требований ОТ
                  <i class="fa fa-info-circle"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     data-html=true
                     title="<ul>
                            <li>нарушений / замечаний не было	- 5
                            <li>1 нарушение / замечание	- 4
                            <li>2 нарушение / замечание	- 3
                            <li>3 нарушение / замечание	- 2
                            <li>4 нарушения / замечания	- 1
                            <li>5 и более  нарушений / замечаний - 0
                            </ul>
                            ">

                  </i>
                </th>
                <th class="col-xs-1">Соблюдение дисциплины</th>
                <th class="col-xs-1">Соответствие стандартам ББМ
                  <i class="fa fa-info-circle"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     data-html=true
                     title="
                      <table>
                        <tr>
                          <td>Отлично знает ценности и философию компании. Пропагандирует идеалы Белой металлургии. Выявляет потери и инициирует улучшения. Подает рацпредложения</td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <td>Знает ценности компании. При работе соблюдает чистоту и порядок. Знает и понимает систему 5С и кайдзен. Легко оперирует понятиями. Способен находить потери и проблемы на производстве.</td>
                          <td>4</td>
                        </tr>
                        <tr>
                          <td>Знает ценности компании. При работе соблюдает чистоту и порядок. Имеет представление о системе 5С и кайдзен.</td>
                          <td>3</td>
                        </tr>
                        <tr>
                          <td>Знает о наличии ценностей  компании. При работе соблюдает чистоту и порядок.</td>
                          <td>2</td>
                        </tr>
                        <tr>
                          <td>Не знает ценности компании. Равнодушен к порядку на рабочем месте.</td>
                          <td>1</td>
                        </tr>
                        <tr>
                          <td>Отвергает и высмеивает корпоративную философию компании.</td>
                          <td>0</td>
                        </tr>
                      </table>
                  ">

                  </i>
                </th>
                <th class="col-xs-1">Оценка Soft-skills
                  <i class="fa fa-info-circle"
                     data-toggle="tooltip"
                     data-placement="bottom"
                     data-html=true
                     title="Проявленные компетенции (оцените по 5 –бальной шкале):
                            <ol>
                            <li>ориентация на результат
                            <li>аналитическое и стратегическое мышление
                            <li>принятие решений
                            <li>лидерство
                            <li>работа в команде
                            <li>коммуникация
                            </ol>
                            <strong>Средний балл оценки Soft-Skills</strong>
                            ">

                  </i>
                </th>
              </tr>
              </thead>
              <tbody>
              {{#each students}}
                <tr>
                  <td>{{name}} <a href="#" title="Закончить обучение" data-student="{{_id}}" id="endProfession" class="btn btn-primary btn-raised btn-xs pull-right no-margins"><i class="fa fa-ban fa-lg"></i> </a></td>
                  <td class="col-xs-1">
                    <input name="points[{{_id}}][]" class="form-control" type="number" min="1" max="5" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">
                  </td>
                  <td class="col-xs-1">
                    <input name="points[{{_id}}][]" class="form-control" type="number" min="1" max="5" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">
                  </td>
                  <td class="col-xs-1">
                    <input name="points[{{_id}}][]" class="form-control" type="number" min="1" max="5" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">
                  </td>
                  <td class="col-xs-1">
                    <input name="points[{{_id}}][]" class="form-control" type="number" min="1" max="5" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">
                  </td>
                  <td class="col-xs-1">
                    <input name="points[{{_id}}][]" class="form-control" type="number" min="1" max="5" disabled="{{#if isInRole 'admin'}}disabled{{/if}}">
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>