<template name="header">
  <header class="navbar">
    <div class="navbar-inner">
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="navbar-brand" href="{{pathFor 'resList'}}">Суммарный итог</a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="{{isActivePath regex='/journal'}}">
            <a href="/journal">Журнал</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Справочники
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="/students">Студенты</a>
              </li>
              <li>
                <a href="/professions">Профессии</a>
              </li>
              <li>
                <a href="/users">Пользователи</a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{>loginButtons}}
        </ul>
      </div>
    </div>
  </header>
</template>