<template name="studentsAddProfessionModal">
    <div class="modal fade" id="studentsAddProfessionModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добавление профессии</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group is-empty">
                        <label for="profName" class="control-label">Получаемая профессия</label>
                        <select class="form-control input pmd-select2" id="profName" style="width: 100%">
                            {{#each profession in professions}}
                                <option value="{{profession._id}}">{{profession.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="row">
                        <div class="form-group label-floating is-empty col-sm-6">
                            <label for="gild" class="control-label">№ цеха</label>
                            <input type="text" class="form-control" id="gild">
                        </div>
                        <div class="form-group label-floating is-empty col-sm-6">
                            <label for="sector" class="control-label">Участок</label>
                            <input type="text" class="form-control" id="sector">
                        </div>
                    </div>
                    <div class="form-group is-empty">
                      {{#if _contains currentUser.roles "controller"}}
                        <div class="form-group">
                          <label for="roleText">Наставник</label>
                          <input id="roleText" type="text" class="form-control" disabled="disabled" value="{{currentUser.profile.name}}">
                          <input id="controller" type="hidden" value="{{currentUser.id}}">
                        </div>
                      {{else}}
                        <label for="controller" class="control-label">Наставник</label>
                        <select class="form-control input pmd-select2" id="controller" style="width: 100%">
                            <option></option>
                            {{#each controller in controllers}}
                                <option value="{{controller._id}}">{{controller.profile.name}}</option>
                            {{/each}}
                        </select>
                      {{/if}}
                    </div>
                    <div class="form-group is-empty">
                        {{#if _contains currentUser.roles "master"}}
                          <div class="form-group">
                            <label for="roleText">Мастер</label>
                            <input id="roleText" type="text" class="form-control" disabled="disabled" value="{{currentUser.profile.name}}">
                            <input id="master" type="hidden" value="{{currentUser.id}}">
                          </div>
                        {{else}}
                          <label for="master" class="control-label">Мастер</label>
                          <select class="form-control input pmd-select2" id="master" style="width: 100%">
                              <option></option>
                              {{#each master in masters}}
                                  <option value="{{master._id}}">{{master.profile.name}}</option>
                              {{/each}}
                          </select>
                        {{/if}}
                    </div>
                    <div class="form-group is-empty">
                        {{#if _contains currentUser.roles "instructor"}}
                          <div class="form-group">
                            <label for="roleText">Инструктор</label>
                            <input id="roleText" type="text" class="form-control" disabled="disabled" value="{{currentUser.profile.name}}">
                            <input id="instructor" type="hidden" value="{{currentUser.id}}">
                          </div>
                        {{else}}
                          <label for="instructor" class="control-label">Инструктор</label>
                          <select class="form-control input pmd-select2" id="instructor" style="width: 100%">
                              <option></option>
                              {{#each instructor in instructors}}
                                  <option value="{{instructor._id}}">{{instructor.profile.name}}</option>
                              {{/each}}
                          </select>
                        {{/if}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="add">Добавить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</template>