<template name="studentsList">
    <div class="col-xs-12">
        <div class="well page">
            <h2>
                Список студентов
                {{#if _contains currentUser.roles "admin"}}
                    <a href="" class="btn btn-primary btn-raised btn-xs pull-right" id="add">Добавить</a>
                    <a href="" class="btn btn-primary btn-raised btn-xs pull-right" id="import">Импортировать</a>
                {{/if}}
            </h2>
            <div class="form-group label-floating is-empty">
                <div class="input-group">
                    <label class="control-label" for="studentName">ФИО</label>
                    <input type="text" class="form-control" id="studentName">
                    <span class="input-group-btn">
                        <button type="button" href="#" class="btn btn-primary btn-raised" id="find">Поиск</button>
                    </span>
                </div>
            </div>
            {{#footable data-paging="true" class="table table-striped table-hover"}}
              <thead>
                <tr>
                  <th>ФИО</th>
                  <th>Специальность</th>
                  <th>Год выпуска</th>
                  <th>Получаемая профессия</th>
                  <th>Мастер</th>
                  <th data-sortable="true"></th>
                  <th data-sortable="true"></th>
                </tr>
              </thead>
              <tbody>
                {{#fooBody students}}
                  {{> studentItem}}
                {{/fooBody}}
              </tbody>
            {{/footable}}
        </div>
    </div>
</template>