<template name="userItem">
  <tr>
    <td><a data-toggle="tab" href="#contact-{{_id}}">{{profile.name}}</a></td>
    <td>{{roles}}</td>
    <td class="contact-type"><i class="fa fa-envelope"></i></td>
    <td>{{email}}</td>
    <td class="client-status">
        {{#if _isEqual profile.status "active" }}
            <span class="label label-primary">Активен</span>
        {{else}}
            <span class="label label-warning">Отключен</span>
        {{/if}}
    </td>
    <td class="text-right">
        {{#if $or ($neq _id currentUser._id) (_contains currentUser.roles "admin") }}
        <a href="#" class="btn btn-sm no-margin edit" data-user-id="{{_id}}"><i class="fa fa-edit"></i></a>
        <a href="#" class="btn btn-sm no-margin delete" data-user-id="{{_id}}"><i class="fa fa-close"></i></a>
        {{/if}}
    </td>
  </tr>
</template>