<template name="usersList">
    <div class="col-sm-12">
        <div class="well page">
            <h2>
                Пользователи
                <a href="" class="btn btn-primary btn-raised btn-xs pull-right" id="add">Добавить</a>
            </h2>
            <table class="table table-striped table-hover">
                <tbody>
                {{#each this}}
                    {{> userItem}}
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
