<template name="userModal">
    <div class="modal fade" id="userModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <div class="pull-right">
                        <div class="togglebutton">
                            <label>
                                Статус
                                <input id="status" type="checkbox" {{isChecked user.profile.status "active"}}>
                                <span class="toggle"></span>
                            </label>
                        </div>
                    </div>
                    <h4 class="modal-title">Добавление/Редактирование пользователя</h4>
                </div>

                <div class="modal-body">
                    <div class="form-group label-floating {{#if isEq user.profile.name ""}}is-empty{{/if}}">
                        <label for="name" class="control-label">ФИО</label>
                        <input type="text" class="form-control" id="name" value="{{user.profile.name}}">
                    </div>
                    <div class="form-group label-floating {{#if isEq user.email ""}}is-empty{{/if}}">
                        <label for="email" class="control-label">Email</label>
                        <input type="text" class="form-control" id="email" value="{{user.email}}">
                    </div>
                    <div class="form-group label-floating {{#if isEq user.username ""}}is-empty{{/if}}">
                        <label for="username" class="control-label">Логин</label>
                        <input type="text" class="form-control" id="username" value="{{user.username}}">
                    </div>
                    <div class="form-group label-floating is-empty">
                        <label for="password" class="control-label">Пароль</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="form-group label-floating is-empty">
                        <label for="password2" class="control-label">Повтор пароля</label>
                        <input type="password" class="form-control" id="password2">
                    </div>
                    {{#if _contains currentUser.roles "admin"}}
                        <div class="form-group {{#if isEmpty user.roles}}is-empty{{/if}}">
                            <label for="role">Роль</label>
                            <select id="role" class="form-control input pmd-select2" style="width: 100%;">
                                <option></option>
                                {{#each role in roles}}
                                    <option value="{{role.value}}" selected="{{#if _contains user.roles role.value}}selected{{/if}}">{{role.text}}</option>
                                {{/each}}
                            </select>
                        </div>
                    {{else}}
                        {{#if _contains currentUser.roles "controller"}}
                            <div class="form-group">
                                <label for="roleText">Роль</label>
                                <input id="roleText" type="text" class="form-control" disabled="disabled" value="Мастер">
                                <input id="role" type="hidden" value="master">
                            </div>
                        {{/if}}
                        {{#if _contains currentUser.roles "master"}}
                            <div class="form-group">
                                <label for="roleText">Роль</label>
                                <input id="roleText" type="text" class="form-control" disabled="disabled" value="Инструктор">
                                <input id="role" type="hidden" value="instructor">
                            </div>
                        {{/if}}
                    {{/if}}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="save">Сохранить</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                </div>

            </div>
        </div>
    </div>
</template>